<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">PruebaSelect</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>


        <div class="nav-item px-3">
            <NavLink class="nav-link" href="InputTextBootstrap">
                <span class="oi oi-plus" aria-hidden="true"></span> Input Text Bootstrap
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="InputDateBootstrap">
                <span class="oi oi-plus" aria-hidden="true"></span> Input Date Bootstrap
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="InputNumberBootstrap">
                <span class="oi oi-plus" aria-hidden="true"></span> Input Number Bootstrap
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="InputCombo">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Input Combo
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="TableSelectBootstrap">
                <span class="oi oi-plus" aria-hidden="true"></span> Table Select Bootstrap
            </NavLink>
        </div>

        

    </nav>
</div>



@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
